version https://git-lfs.github.com/spec/v1
oid sha256:2345d0a534aa4c70115c8a8e24e33498a83d9a43955e66d3acaaa95485720187
size 3295
